<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codeIncubnator.boltfax">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BoltFax">
        <activity
            android:name="com.codeIncubnator.boltfax.Feedack_And_Suggestion"
            android:exported="false" />
        <activity
            android:name="com.codeIncubnator.boltfax.UnderDevelopment"
            android:exported="false" />
        <activity
            android:name="com.codeIncubnator.boltfax.TermAndConditions"
            android:exported="false" />
        <activity
            android:name="com.codeIncubnator.boltfax.PrivacyAndPolicy"
            android:exported="false" />
        <activity
            android:name="com.codeIncubnator.boltfax.OurStory"
            android:exported="false" />
        <activity
            android:name="com.codeIncubnator.boltfax.SearchPage"
            android:exported="true" />
        <activity
            android:name="com.codeIncubnator.boltfax.ProductList"
            android:exported="true" />
        <activity
            android:name="com.codeIncubnator.boltfax.SignUpPage"
            android:exported="true" />
        <activity
            android:name="com.codeIncubnator.boltfax.MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name="com.codeIncubnator.boltfax.Notifications"
            android:exported="true" />
        <activity
            android:name="com.codeIncubnator.boltfax.LoginPage"
            android:exported="true" />
        <activity
            android:name="com.codeIncubnator.boltfax.ForgottenPassword"
            android:exported="true" />
        <activity
            android:name="com.codeIncubnator.boltfax.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1862035894487465~9775775525" />
    </application>

</manifest>